
#root {
  margin: auto;
  /* padding: 2rem; */
  text-align: center;
}

.link {
  color: var(--color-primary700);
  text-decoration: none;
}

.text-gray{
  color: var(--color-light_gray);
}
.highcharts-credits {
  display: none;
}