
#root {
  margin: auto;
  /* padding: 2rem; */
  text-align: center;
}

.link {
  color: var(--color-primary700);
  text-decoration: none;
}
.button{
  background-color: var(--color-primary800);
  color: white;
  padding: 6px 2rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;

}

.text-gray{
  color: var(--color-light_gray);
}
.highcharts-credits {
  display: none;
}
.rdrDateDisplayWrapper{
  display: none;}